bot3/2d-lidar-identification.code-workspace
*.DS_Store
/RESULT2
/RESULT-1
bot3/worlds/.bot3.jpg
bot3/worlds/.bot3.wbproj
raw_logs/
Presentation/
output/
DOCS/
training_outputs/120_DO_aligned_Fused/runs_yolo_120_aligned.zip
training_outputs/120_DO_aligned_Fused/webots_model_assets_alignedfused_fulltrain_120.zip
training_outputs/120_DO_simple_Fused/runs_yolo_120.zip
training_outputs/120_DO_simple_Fused/webots_model_assets_simpel_fused_fulltrain_120.zip
bot3/utils/__pycache__/
bot3/controllers/__pycache__/global_config.cpython-313.pyc
bot3/utils/__pycache__/lidar_utils.cpython-313.pyc
bot3/controllers/__pycache__/global_config.cpython-313.pyc
bot3/controllers/__pycache__/global_config.cpython-313.pyc
bot3/utils/__pycache__/lidar_utils.cpython-313.pyc
bot3/controllers/__pycache__/global_config.cpython-313.pyc
bot3/utils/__pycache__/lidar_utils.cpython-313.pyc
